/* shared styels */
body {
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    border: 1px solid #d4dadf;
    background: #fdf4ef;
    height: 100%;
}

.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background: #fff;
    border-radius: 6px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    padding: 7px 15px;
    gap: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}


button:hover {
    background-color: #C0C0C0;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgb(192, 192, 192);
    border-color: #C0C0C0;
    /* color: white; */
}

/* Optional: Focus styling */
button:focus {
    outline: none;
    border-color: #2980b9;
}

/* Profile container styles */

#profile-img {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    background: #d9d9d9;
    margin-right: 10px;
}

#engaged-style {
    color: #fff;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    width: 50px;
    padding: 5px;
    gap: 6.818px;
    border-radius: 35.455px;
    background: #008000;
}

#prof-name {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

.profile-name-container {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 20px;
    padding-top: 15px;
}

#btn-open-candidate {
    border-radius: 5px;
    padding: 6px 8px;
    gap: 4.857px;
}

#person-designation {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    align-self: stretch;
}

.profile-header-container {
    display: flex;
    align-items: center;
}

.contact-details-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-details-styles {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
}

#status-style {
    display: flex;
    padding: 5px;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    border-radius: 52px;
    background: #fff;
    color: #585858;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
}

.btn-container {
    display: flex;
    gap: 7px;
    margin-top: 90px;
    justify-content: center;
}

.body-right-div {
    display: flex;
    width: 40vw;
    justify-content: space-around;
}

.status-btn-container {
    display: block;
    width: 90%;
}

.body-container {
    display: flex;
    justify-content: space-between;
}

.profile-container {
    width: 60vw;
}

/* horizontal line */
.horizontal-line-style {
    width: 80%;
    height: 1px;
    background: #D4DADF;
    margin: 30px 0;

}


/* Footer Container Styles starts here */


.application-title {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
}

.last-update {
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    margin: 0 100px 0 auto
}

.application-div {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* footer sections button styles */
.btn-applicaion {
    display: flex;
    padding: 8px 15px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 52px;
    border: 1px solid #000;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    background-color: #fdf4ef;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-application-container {
    display: flex;
    gap: 20px;
    margin: 30px 0 30px;
}

#first-interview-style {
    background: #008000;
    color: white;
}

.footer-report-anchor {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 8px 15px;

}

.footer-report-container {
    display: flex;
    justify-content: end;
}